{% comment %} prev and next {% endcomment %}
{%- if page.url != "/search.html" and page.url != "/404.html" -%}
    {%- if next or prev -%}
        <div class="navigation-bottom d-flex flex-justify-between py-3" role="navigation" aria-label="footer navigation">
            <div class="prev">
                {%- if prev -%}
                    <a href="{{ prev.url | relative_url }}" class="btn" title="{{ prev.title }}" accesskey="p" rel="prev">
                        <i class="fa fa-arrow-circle-left"></i> {{ __.previous | default: "Previous" }}
                    </a>
                {%- endif -%}
            </div>
            <div class="next">
                {%- if next -%}
                    <a href="{{ next.url | relative_url }}" class="btn" title="{{ next.title }}" accesskey="n" rel="next">
                        {{ __.next | default: "Next" }} <i class="fa fa-arrow-circle-right"></i>
                    </a>
                {%- endif -%}
            </div>
        </div>
    {%- endif -%}
{%- endif -%}

<hr>

<div class="copyright text-center text-gray" role="contentinfo">
    本作品采用 <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
        <img alt="知识共享许可协议" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" />
    </a>
    <a rel="license" target="_blank" href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.zh">知识共享署名-非商业性使用-禁止演绎 4.0国际许可协议</a>
    进行许可。
    <br />

    <i class="fa fa-copyright"></i>
    <span class="time">
        {%- assign created_time = rest_created_at | date: "%Y" -%}
        {%- assign updated_time = rest_updated_at | date: "%Y" -%}
        {%- if created_time == updated_time -%}
            {{- created_time -}},
        {%- else -%}
            {{- created_time }}-{{ updated_time -}},
        {%- endif -%}
    </span>
    <a class="text-gray" href="{{ docs.owner_url }}" rel="noreferrer" target="_blank">
        {{- author -}}
    </a>
    {{ __.revision | default: "Revision" }}
    <a class="text-gray" href="{{ docs.repository_url }}/commit/{{ docs.build_revision }}" title="{{ docs.build_revision }}" rel="noreferrer" target="_blank">
        {{- docs.build_revision | slice: 0, 7 -}}
    </a>
    {% unless site.url contains "rundocs.io" %}
        <br>
        <div class="generator">
            Built with
            <a href="https://pages.github.com" rel="noreferrer" target="_blank" title="github-pages v{{ docs.versions.github-pages }}">GitHub Pages</a>
            using a
            <a href="https://github.com/{{ theme_alias | split: '@' | first }}" rel="noreferrer" target="_blank" title="{{ generator }} v{{ version }}">theme</a>
            provided by
            <a href="https://rundocs.io" rel="noreferrer" target="_blank">RunDocs</a>.
        </div>
    {% endunless %}

    <br>
    
    <div class="license_icons">
        <div id="cc_slot"><img src="https://creativecommons.org/images/chooser/chooser_cc.png" /></div>
        <div id="by_slot"><img src="https://creativecommons.org/images/chooser/chooser_by.png" /></div>
        <div id="nc_slot"><img src="https://creativecommons.org/images/chooser/chooser_nc.png" /></div>
        <div id="sa_slot"><img src="https://creativecommons.org/images/chooser/chooser_nd.png" /></div>
    </div>
</div>


    

{% if site.comments.gitalk %}
    <script>
        var gitalk = new Gitalk({
              clientID: '{{ site.comments.gitalk_clientID }}',
              clientSecret: '{{ site.comments.gitalk_Secret }}',
              repo: '{{ site.comments.gitalk_repo }}',
              owner: '{{ site.comments.gitalk_owner }}',
              admin: '{{ site.comments.gitalk_admin }}',
              id: location.pathname,      // Ensure uniqueness and length less than 50{{ page.title }}
              distractionFreeMode: '{{ site.comments.distractionFreeMode }}'  // Facebook-like distraction free mode
            })

            gitalk.render('disqus_thread')
    </script>
  {% endif %}
